
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("assets/MugClub.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-color: #ffffff;
}


header {
    background-color: #730000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}


.card {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.team-container { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px;
}
.team-member { 
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;
}

.team-member img { 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover; 
}


